// Specific CSS for your home-page
// Banner css

// -------------------  Banner lewagon styles -------------------
.banner {
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-instruments {
  background-color: #292929;
}


.banner-hero {
  background-color: #272C32;
  background-image: url("https://images.unsplash.com/photo-1501962679900-bea61483313b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  background-position: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 500px;
  margin-top: -20px;
}

.home-banner-content {
  margin-left: 50px;
}




// ------------------------  Button css ---------------------------

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #47B8AF;
  transition: background-color 0.3s ease;
}

.btn-flat:hover {
  background-color: #47B8AF;
  background-color: rgb(216, 68, 93);
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

// ------------------------   Categories css  -----------------------

#banner-about {
  background-color: whitesmoke;
  padding: 20px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-img {
  width: 50%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1481886756534-97af88ccb438?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  // background-position: bottom;
  object-fit: contain;
  background-position: center;
  border-radius: 5px;

}

.about {
  text-align: center;
  padding: 0 10px;
  width: 40%;

}
.about p {
  color: #272727;
  font-size: 16px;
}
.about h1 {
  color: #292929;
}

.dark {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.dark h1 {
  color:  rgb(216, 68, 93);
}

.container h1 {
  vertical-align: center;
}

.category-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  text-align: center;
}


.category-card {
  width: 212px;
  height: 43px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

.category-container a {
  font-size: 18px;
  margin: 0;
  color: white;
  text-decoration: none;
}


.music-icon {
  width: 50px;
}

.banner-categories .instruments-link {
  text-align: center;
}

// ---------------------  Instruments section styles -------------------
.instruments {
  padding: 60px 30px;
}

.instruments h1 {
  color: whitesmoke;
  margin-bottom: 70px;
  text-align: center;
}

.instruments > .c {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.card-product {
  overflow: hidden;
  width: 320px;
  height: 120px;
  background: white;
  box-shadow: 0 0 70px rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  transition: all ease-in 0.3s;
  border-radius: 5px;
}
.card-product:hover {
  transform: scale(1.05);
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.instruments-link {
  margin-top: 50px;
  display: flex;
}

.banner.banner-instruments .instruments-link  {
  display: flex;
  justify-content: center;
}

.instruments-link a {
  text-decoration: none;
  background-color: #47B8AF;
  background-color: rgb(226, 76, 101);
  color: white;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 30px;
  margin-right: 10px;
}

.instruments-link p {
  margin-top: 25px;
}


.instruments-link a:hover {
  background-color: #359189
}

.card-product-infos p {
  color: #272727;
}
.all-categories-link {
  margin-top: 0;
}

.instruments .instruments-link {
  text-align: right;
}

// ----------------------  Sign in and Register styles ----------------
.sign-in {
  background-color: #363c44;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all ease-in-out 0.5ms;
}
.sign-in:hover {
  background-color: #47B8AF;
  cursor: pointer;
}
.sign-in h1 {
  margin: 0;
}
.sign-in a {
  text-decoration: none;
  color: white;
}


#user-name {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 100px;
  margin-top: 20px;
}

.category-card:hover {
  background-color: #47B8AF;
  color: #292929;
}

.pink a {
  background-color: rgb(226, 76, 101);

}
.banner-categories {
  background-color: #292929;
  background-color: whitesmoke;
  height: 420px;
}
