<div class="footer mt-3">
  <div class="footer-socials">
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <div class="footer-content">
    <p>Contact us at <a href="mailto:instrumentsbnb@email.com">instrumentsbnb@email.com</a></p>
  </div>
</div>
