<h1>Pages#home</h1>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>

<p><%= link_to "Click here to view all instruments", instruments_path  %></p>

<p><%= link_to "Click here to sign in", new_user_session_path %></p>

<p><%= link_to "Click here to register", new_user_registration_path %></p>
