.card-instrument {
  overflow: hidden;
  height: 130px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding-left: 0px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

.card-instrument:hover {
  transform: scale(1.05);
}

.card-instrument img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-instrument h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-instrument p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-instrument .card-instrument-infos {
  padding: 16px;
  padding-top: 30px;

}
.card-instrument-infos a {
  text-decoration: none;
  color: #292929;
}

.card-instrument-infos h5 {
  font-weight: bold;
}

.card-instrument-infos h5:hover {
  color: #47B8AF;
}

#price {
  text-align: right;
  font-weight: bold;
  color:  #47B8AF;
  font-size: 14px;
}
