.navbar-lewagon {
  justify-content: space-between;
  background: #272C32;
  background-color: #292929;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-weight: bold;
  color: whitesmoke;
}

.navbar-brand:hover {
  color: #64ddd3;
}

.logo img {
  width: 50px;
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
}

.navbar-brand.brand-link {
  color: #64ddd3;
  color: rgb(223, 93, 114);
}

.login {
  background-color: rgb(223, 93, 114);
  color: #272C32;
  padding: 0px 30px;
  border-radius: 15px;
}
