.navbar-lewagon {
  justify-content: space-between;
  background: whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-weight: bold;
  color: #363c44;
}

.logo img {
  width: 50px;
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
}
